@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerBold.woff);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerMedium.woff);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerRegular.woff);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerLight.woff);
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  padding: 13px 20px;
  min-width: 100px;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background-color: transparent;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
}

.section-header {
  margin-bottom: 20px;
  margin-top: 0px;
  padding-left: 40px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url('/img/arrow_down.svg') right center no-repeat;
}

input {
  border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/* Header */
.header {
  height: 154px;
  margin-bottom: 70px;
}

.section-header-up {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
}

.section-logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  margin-right: 40px;
}

.header-phone-link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0em;
  color: #666;
}

.login-link {
  display: flex;
  align-items: center;
}

.login-icon {
  display: inline-block;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  background: url('/img/login_arrow.svg') center center no-repeat transparent;
  background-size: contain;
  transform: translateY(-2px);
}

.login-link-text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #CC9933;
}

.section-header-down {
  display: flex;
  align-items: center;
  padding: 10px 45px;
  background-color: #FFF;
  border-radius: 15px;
}

.nav-header {
  display: flex;
  align-items: center;
  margin-right: auto;
  height: 50px;
  border-right: 1px solid #E1E1E1;
}

.nav-list {
  display: flex;
  align-items: center;
  padding-right: 56px;
}

.nav-link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #666;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn-list {
  display: flex;
  align-items: center;
  padding-left: 57px;
}

.header-btn-item:not(:last-child) {
  margin-right: 40px;
}

/* Promotions */
.promotions-container {
  margin-bottom: 69px;
}

.promotional-section-header {
  margin-top: 0px;
}

.promotional-heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #FFF;
}

.promotional-heading-large {
  font-size: 60px;
  line-height: 60px;
}

.promotional-articules-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 560px;
}

.promotional-item {
  margin-bottom: 22px;
}

.promotional-item-maldives {
  display: inline-block;
  background: url('/img/maldives1.png');
  background-size: contain;
  width: 573px;
  height: 258px;
}

.promotional-item-crete {
  background: url('/img/crete1.png');
  background-size: contain;
  width: 573px;
  height: 258px;
}

.promotional-item-lux {
  background: url('/img/luxroom.png');
  background-size: contain;
  width: 573px;
  height: 540px;
}

.promotional-section-small {
  padding: 40px 234px 40px 40px;
}

.promotional-section-large {
  padding: 211px 234px 41px 40px;
}

.promotional-price {
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: #FFF;
}

.promotional-price-large {
  font-size: 30px;
}

.promotional-link {
  margin-right: -3px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #FFCC66;
}

.promotional-showmore-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url('/img/arrow-right-promotional.svg') center center no-repeat transparent;
  background-size: contain;
  transform: translateY(4px);
}

/* About Us */
.container-about{
  margin-bottom: 70px;
}

.section-about-header{
  margin-bottom: 11px;
}

.plain-text-about {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 888px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
}

/* Services */
.services-container {
  margin-bottom: 70px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
}

.services-pic-exclusive {
  display: inline-block;
  width: 572px;
  height: 165px;
  background: url('/img/champagne-glasses.png');
}

.services-pic-rent {
  display: inline-block;
  width: 572px;
  height: 165px;
  background: url('/img/served-table.png');
}

.services-pic-spa {
  display: inline-block;
  width: 572px;
  height: 165px;
  background: url('/img/pool.png');
}

.services-pic-parking {
  display: inline-block;
  width: 572px;
  height: 165px;
  background: url('/img/cars.png');
}

.services-item {
  width: 572px;
  background-color: white;
  border-radius: 15px;
}

.services-item:first-child {
  margin-right: 23px;
  margin-bottom: 23px;
}

.services-item:nth-child(2) {
  margin-bottom: 23px;
}

.services-description {
  padding: 26px 126px 50px 45px;
}

.plain-text-services {
  margin: 0;
}

.services-link-text {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: #CC9933;
}

.services-link-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url('/img/arrow_right.svg') center center no-repeat transparent;
  background-size: contain;
  transform: translateY(3px);
}

/* Benefits */
.benefits-container {
  margin-bottom: 70px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
}

.benefits-item {
  width: 275px;
  background-color: #FFF;
  border-radius: 15px;
}

.benefits-item:not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(7)):not(:nth-child(8)){
  margin-bottom: 23px;
}

.benefits-icon {
  margin-left: 45px;
  margin-top: 40px;
}

.benefits-icon-bathtub {
  display: inline-block;
  width: 64px;
  height: 66px;
  background: url('/img/bathtub.svg') left center transparent;
  background-size: contain;
}

.benefits-icon-hanger {
  display: inline-block;
  width: 67px;
  height: 66px;
  background: url('/img/hanger.svg') left center transparent;
  background-size: contain;
}

.benefits-icon-heating {
  display: inline-block;
  width: 64px;
  height: 66px;
  background: url('/img/heating.svg') left center transparent;
  background-size: contain;
}

.benefits-icon-hotel-key {
  display: inline-block;
  width: 66px;
  height: 66px;
  background: url('/img/hotel-key.svg') left center transparent;
  background-size: contain;
}

.benefits-icon-parking {
  display: inline-block;
  width: 66px;
  height: 66px;
  background: url('/img/parking.svg') left center transparent;
  background-size: contain;
}

.benefits-icon-reception {
  display: inline-block;
  width: 64px;
  height: 66px;
  background: url('/img/reception.svg') left center transparent;
  background-size: contain;
}

.benefits-icon-security-box {
  display: inline-block;
  width: 67px;
  height: 66px;
  background: url('/img/security-box.svg') left center transparent;
  background-size: contain;
}

.benefits-icon-swimming-pool {
  display: inline-block;
  width: 64px;
  height: 66px;
  background: url('/img/swimming-pool.svg') left center transparent;
  background-size: contain;
}

.benefits-description {
  max-width: 188px;
  margin: 10px 42px 41px 45px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
}

/* Accommodation */
.accommodation-container {
  margin-bottom: 70px;
}

.accommodation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
  flex: 1 1 33.3%;
}

.accommodation-item:not(:last-child) {
  width: 374px;
  background-color: #FFF;
  border-radius: 15px;
}

.accommodation-item {
  margin-bottom: 22px;
}

.accommodation-pic {
  margin-bottom: 35px;
}

.accommodation-night-rate {
  margin-left: 45px;
  margin-right: 43px;
  margin-bottom: 15px;
}

.gray-text {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #999;
}

.plain-text-accommodation {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

.price-per-night {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}

.price-and-rating {
  display: flex;
}

.accommodation-rating {
  margin-right: 46px;
}

.hotel-name-text {
  display: inline-block;
  margin-left: 45px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

.gray-text-destination {
  margin-left: 45px;
  margin-bottom: 18px;
}

.accommodation-button {
  margin-left: 45px;
  margin-bottom: 37px;
}

.accommodation-item-showmore {
  position: relative;
  text-align: center;
}

.accommodation-showmore-text {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: #FFF;
}

.accommodation-showmore-text-section {
  position: absolute;
  bottom: 27px;
  right: 53px;
}

.accommodation-showmore-icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url('../img/arrow-white.svg') center center no-repeat transparent;
  background-size: contain;
  transform: translateY(3px);
}

/* Search Form */
.section-form {
  margin-bottom: 70px;
}

.search-form-container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 38px;
  padding-bottom: 70px;
  max-width: 1170px;
  background-color: #E9E9E9;
  border-radius: 15px;
}

.section-form-header {
  margin-top: 0;
  margin-bottom: 19px;
  padding-left: 40px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

.search-form {
  padding: 31px 28px 32px 28px;
  margin: 0 28px 0px 45px;
  max-width: 1080px;
  background-color: #FFF;
  border-radius: 15px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-column-section {
  display: flex;
  flex-direction: column;

}

.form-column-section:not(:first-child) {
  padding-left: 20px;
  border-left: 1px solid #E1E1E1;
}

.form-column-section-text {
  min-width: 160px;
}

.form-column-section-numbers {
  max-width: 142px;
}

.search-form-label {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

.search-form-text {
  padding-right: 35px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

.arrival-date {
  max-width: 142px;
  padding-right: 1px;
}

.input-numbers-border {
  margin-top: 1px;
  width: 92%;
  border-bottom: 1px solid #E1E1E1;
}

.nights-amount,
.tourist-quantity {
  padding-right: 10px;
}

/* Contacts */
.contacts-container-section {
  margin-bottom: 19px;
}

.contacts-header {
  margin-bottom: 26px;
}

.contacts-container {
  padding: 44px 44px 46px 46px;
  background-color: #FFF;
  border-radius: 15px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
}

.contacts-info-container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

.contacts-category {
  display: flex;
  margin-bottom: 25px;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-category-header {
  margin-top: 0;
  min-width: 145px;
  margin-bottom: 51px;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}

.contacts-regular-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

.contacts-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #CC9933;
}

.email-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
}

.contacts-email-container {
  margin-bottom: 23px;
}

.contacts-schedule-container {
  margin-bottom: 45px;
}

.contacts-btn {
  padding: 27px 29px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #CC9933;
}

/* Footer */
.footer-container {
  position: relative;
  margin-bottom: 20px;
  width: 1170px;
  padding: 51px 51px 0 52px;
  background-color: #333;
  border-radius: 15px;
}

.container-user-agreement {
  display: flex;
}

.footer-container-text {
  display: flex;
  flex-direction: column;
}

.container-user-agreement-text {
  max-width: 320px;
  margin-right: 102px;
}

.user-agreement-text {
  display: block;
  margin-bottom: 37px;
}

.footer-text {
  font-size: 16px;
  line-height: 30.4px;
  font-weight: 400;
  color: #FFF;
}

.footer-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #CC9933;
}

.footer-user-agreement-link {
  margin-bottom: 46px;
}

.footer-contacts-text {
  display: block;
  margin-bottom: 14px;
}

.contacts-container-phones {
  margin-bottom: 15px;
}

.footer-contacts-link {
  display: block;
}

.footer-social-media-list {
  margin: 0 0 0 auto;
}

.social-media-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-media-icon-hz {
  display: block;
  width: 25px;
  height: 25px;
  background: url('/img/unknown_sm_icon.svg') center center no-repeat transparent;
  background-size: contain;
}

.social-media-icon-twitter {
  display: block;
  width: 25px;
  height: 25px;
  background: url('/img/twitter.svg') center center no-repeat transparent;
  background-size: contain;
}

.social-media-icon-facebook {
  display: block;
  width: 25px;
  height: 25px;
  background: url('/img/facebook.svg') center center no-repeat transparent;
  background-size: contain;
}

.social-media-icon-vk {
  display: block;
  width: 25px;
  height: 25px;
  background: url('/img/vk-footer.svg') center center no-repeat transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-media-icon-instagram {
  display: block;
  width: 25px;
  height: 25px;
  background: url('/img/instagram.svg') center center no-repeat transparent;
  background-size: contain;
}

.footer-logo {
  position: absolute;
  right: 176px;
  bottom: -5px;
}



